apiVersion: actions.github.com/v1alpha1
kind: AutoscalingRunnerSet
metadata:
  name: tsvi-runners
  namespace: arc-systems
  labels:
    actions.github.com/organization: tsvi-solutions
    actions.github.com/scale-set-name: tsvi-runners
    actions.github.com/scale-set-namespace: arc-systems
    app.kubernetes.io/component: autoscaling-runner-set
    app.kubernetes.io/instance: tsvi-runners
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: tsvi-runners
    app.kubernetes.io/part-of: gha-rs
    app.kubernetes.io/version: 0.13.0
    helm.sh/chart: gha-rs-0.13.0
  annotations:
    actions.github.com/cleanup-github-secret-name: tsvi-runners-gha-rs-github-secret
    actions.github.com/cleanup-manager-role-binding: tsvi-runners-gha-rs-manager
    actions.github.com/cleanup-manager-role-name: tsvi-runners-gha-rs-manager
    actions.github.com/cleanup-no-permission-service-account-name: tsvi-runners-gha-rs-no-permission
    actions.github.com/runner-group-name: Default
    actions.github.com/runner-scale-set-name: tsvi-runners
    actions.github.com/values-hash: ab1e8048f8670241d4f75508160320ce1adad7a91a9b75a3246ad3ab90c2ecf
    meta.helm.sh/release-name: tsvi-runners
    meta.helm.sh/release-namespace: arc-systems
    runner-scale-set-id: '6'
    arc-mcp/auto-fixed: '2025-11-05T02:44:30.507Z'
    arc-mcp/violations-fixed: '5'
    arc-mcp/violations-failed: '1'
spec:
  githubConfigSecret: tsvi-runners-gha-rs-github-secret
  githubConfigUrl: https://github.com/tsvi-solutions
  maxRunners: 40
  minRunners: 20
  runnerGroup: default
  runnerScaleSetName: tsvi-runners
  template:
    spec:
      containers:
        - command:
            - /home/runner/run.sh
          env:
            - name: DOCKER_HOST
              value: unix:///var/run/docker.sock
            - name: RUNNER_WAIT_FOR_DOCKER_IN_SECONDS
              value: '120'
          image: ghcr.io/actions/actions-runner:latest
          name: runner
          volumeMounts:
            - mountPath: /home/runner/_work
              name: work
            - mountPath: /var/run
              name: dind-sock
      initContainers:
        - args:
            - '-r'
            - /home/runner/externals/.
            - /home/runner/tmpDir/
          command:
            - cp
          image: ghcr.io/actions/actions-runner:latest
          name: init-dind-externals
          volumeMounts:
            - mountPath: /home/runner/tmpDir
              name: dind-externals
        - args:
            - dockerd
            - '--host=unix:///var/run/docker.sock'
            - '--group=$(DOCKER_GROUP_GID)'
          env:
            - name: DOCKER_GROUP_GID
              value: '123'
          image: docker:dind
          name: dind
          restartPolicy: Always
          securityContext:
            privileged: true
          startupProbe:
            exec:
              command:
                - docker
                - info
            failureThreshold: 24
            initialDelaySeconds: 0
            periodSeconds: 5
          volumeMounts:
            - mountPath: /home/runner/_work
              name: work
            - mountPath: /var/run
              name: dind-sock
            - mountPath: /home/runner/externals
              name: dind-externals
      restartPolicy: Never
      serviceAccountName: tsvi-runners-gha-rs-no-permission
      volumes:
        - emptyDir: {}
          name: dind-sock
        - emptyDir: {}
          name: dind-externals
        - emptyDir: {}
          name: work
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
      dnsPolicy: ClusterFirst
